<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <title>Join</title>
    <!--@{}는 standard URL 이라고 한다.-->
    <script defer th:src="@{/js/user/join.js}"></script>
</head>
<th:block layout:fragment="content">
    <div class="container">
        <h1>Login</h1>
        <div>
            <form novalidate class="validation-form" th:action="@{/user/join}" method="post" th:object="${entity}" id="joinfrm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{uid}" placeholder="user id">
                    <label for="uid">ID</label>
                    <div class="invalid-feedback">
                        please write ID
                    </div>
                </div>
                <div class="form-floating mb-1">
                    <input type="password" class="form-control" th:field="*{upw}" placeholder="user password">
                    <label for="upw">Password</label>
                    <div class="invalid-feedback">
                        please write password
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="confirm_upw" placeholder="Confirm User password">
                    <label for="confirm_upw">Password Confirm</label>
                    <div class="invalid-feedback">
                        please write password again
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{nm}" placeholder="user name">
                    <label for="nm">Name</label>
                    <div class="invalid-feedback">
                        please write Name
                    </div>
                </div>
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gender_1" value="2" checked>
                            <label class="form-check-label" for="gender_1">
                                여자
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="gender_2" value="1" checked>
                            <label class="form-check-label" for="gender_2">
                                남자
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div><input type="submit" value="Join"></div>
            </form>
        </div>
    </div>
</th:block>

