<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <script defer th:src="@{/js/user/login.js}"></script>

    <title>Login</title>
    <!--@{}는 standard URL 이라고 한다.-->
</head>
<th:block layout:fragment="content">
    <h1>Login</h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid id and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
        You have been logged out.
    </div>
    <div>
        <form th:action="@{/user/login}" method="post" th:object="${entity}">
            <div><input type="text" th:field="*{uid}" placeholder="user id"></div>
            <div><input type="password" th:field="*{upw}" placeholder="user password"></div>
            <div><input type="submit" value="login"></div>
        </form>
    </div>
</th:block>

